


.myStyle{
    color:chocolate;
    background-color: blanchedalmond;
}
.my{
    color:rgb(75, 30, 210);
    background-color: blanchedalmond;
}
.Style{
    color:rgb(30, 210, 54);
    background-color: blanchedalmond;
}